[2016-02-18 06:55] lewismc opened #1 "Fox documentation issues"
After the API is completed, documentation would be nice
[code]
... also the theme should be changed to something more appealing!

[2016-04-11 03:08] #1 closed

[2016-04-13 02:14] lewismc opened #3 "Add return types to all functions"
Right now we do not have return types for any functions, documentation could be improved if these were provided
http://www.sphinx-doc.org/en/stable/domains.html#info-field-lists

[2016-04-16 16:04] Omkar20895 opened #4 "Discrepancies in the documentation."
There are some discrepancies in the Retrieve granule images, the field in the arguments to the function is given as 'styles' rather than 'style' and also there is a new unknown parameter 'transparency=true' which is used, this parameter causes the function to fail with an error

[2016-04-16 16:17] Omkar20895 commented on #4
I can't get it, in the documentation of podaac image granule the set of acceptable parameters does not include the 'transparent' parameter.

But, the url http://podaac.jpl.nasa.gov/ws/image/granule?shortName=ASCATB-L2-25km&granuleName=ascat_20121114_035403_metopb_00817_eps_o_250_2101_ovw.l2.nc&request=GetMap&layers=wind_speed&styles=&version=1.3.0&format=image/png&srs=&bbox=-180,-66.43,180,79.91&h

[2016-04-16 16:19] lewismc commented on #4
Will do

On Saturday, April 16, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-05-17 19:35] Omkar20895 opened #5 "Could not write the contents of a file downloaded using python requests into .nc file"
[code]

When I try to execute the above code it creates a local file with the name ascat_20130719_230600_metopa_35024_eps_o_250_2200_ovw.l2_subsetted_.nc

But when I try to open it using the panoply tool(which is used to view .nc files) I am getting an error 'There was an error opening the dataset java.lang.NegativeArraySizeException'.

[2016-05-17 21:12] lewismc commented on #5
You need to checkout how to subset data and/or transfer it using possibly the NetCDF Python libraries.

[2016-05-20 11:36] Omkar20895 commented on #5
Lewis I am really sorry to say this but I couldn't find anything on this issue. I posted the issue in stackoverflow also but did not get any solution.

[2016-05-20 15:49] lewismc commented on #5
I don't believe there is not a solution 😜
I'll find a solution and post here shortly.

On Friday, May 20, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-05-20 15:50] lewismc commented on #5
In the meantime move on to the MCC file. This is all trivial Python code
and should not be presenting any issue at all.

On Friday, May 20, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-05-20 17:07] Omkar20895 commented on #5
Okay :D

[2016-05-26 05:16] lewismc commented on #5
Did you check how this was being done in other data source modules?

[2016-05-26 15:52] Omkar20895 commented on #5
I am checking it out with some of my friends at Indian Meteorological Institute. They too work with the netcdf files. He said he would get back to me since he had very less idea about that. Thanks. :)

[2016-05-27 17:01] lewismc commented on #3
Is this done @Omkar20895 ?

[2016-05-27 17:02] lewismc commented on #4
Is this done @Omkar20895 ?

[2016-05-27 18:33] Omkar20895 commented on #3
Yes this is done. Thanks

[2016-05-27 18:35] #3 closed

[2016-05-27 18:41] Omkar20895 commented on #4
Yes this was just a false alarm. The transparent parameter does not make much difference. We get the same image either ways(call using 'transparent' parameter or without it). Thanks.

[2016-05-27 18:50] Omkar20895 commented on #4
I have changed the documentation and referred it above. Please look into it and ping me a GO for closing this if everything looks good.

[2016-05-27 19:25] #4 closed

[2016-05-27 19:43] lewismc commented on #4
Thanks @Omkar20895  you are also now a mentor if this codebase so feel free to merge but also realise that there are others who will use your code and also review you based upon you code.
For ample, eventually I see this code being here
https://github.com/nasa
Why?
Because it has better vision. That is all.
The code you and I write now will be used by many. Please be mindful of this when you write

[2016-05-28 05:54] Omkar20895 commented on #4
Thanks @lewismc. I will keep that in mind. :)

[2016-05-28 18:52] lewismc commented on #4
Thanks

[2016-05-28 19:48] lewismc opened #13 "Tests failing in master"
When I pull master branch and test it I get the following
[code]

[2016-05-28 19:49] lewismc commented on #13
@Omkar20895

[2016-05-28 20:07] lewismc opened #14 "Fix documentation issues"
http://podaacpy.readthedocs.io/en/latest/webservices.html

This is not correct and needs to be resolved.
Building and testing the documentation locally is also documented at https://github.com/lewismc/podaacpy#documentation

[2016-05-28 20:07] lewismc commented on #14
@Omkar20895

[2016-05-28 20:14] Omkar20895 commented on #14
@lewismc I am feeling sleepy and I think I am messing this all up in my dizziness. Please pardon me. Can I look into it with a fresh mind when I wake up?? Thanks

[2016-05-29 02:29] lewismc commented on #14
No problems @Omkar20895 rhanks

[2016-05-29 08:04] Omkar20895 opened #16 "Documentation build fails locally"
I tried to "make html" in the docs folder, however I got the following error:

Theme error:
no theme named 'sphinx_rtd_theme' found (missing theme.conf?)
make: *** [html] Error 1

[2016-05-29 08:22] Omkar20895 commented on #16
I found this in the documentation of 'sphinx_rtd_theme' here https://github.com/snide/sphinx_rtd_theme

![screen shot 2016-05-29 at 1 50 45 pm](https://cloud.githubusercontent.com/assets/11131863/15632065/6b13f264-25a4-11e6-8fc1-623746112edd.png)

and this worked!

[2016-05-29 08:55] Omkar20895 commented on #14
@lewismc I have built the docs locally and they were working absolutely fine.

[2016-05-31 19:11] Omkar20895 commented on #13
That pull request was outdated and had unstable tests. I have opened a new pull request [PR#18](https://github.com/lewismc/podaacpy/pull/18), It has also passed the travis-ci build. Thanks. :)

[2016-05-31 22:00] lewismc commented on #13
Thanks @Omkar20895

[2016-05-31 22:00] #13 closed

[2016-06-01 04:07] #16 closed

[2016-06-03 04:13] Omkar20895 commented on #5
@lewismc have you used ncgen tool anytime to convert ascii into netcdf data? Thanks

[2016-06-05 11:54] Omkar20895 commented on #14
There is a '\' missing in the podaac.py file line 86. This is a syntax error and I think the build might be failing bacause of this. I am sending a pull request and will be merging it and I hope that will work.

[2016-06-05 20:50] lewismc commented on #14
ok thanks

[2016-06-10 06:01] Omkar20895 commented on #5
@lewismc I have been working on this issue in a single direction and didn't explore other options. Aha, you just need to write two lines with the module **urllib** and _et voila_! 😄

I am opening a PR for solving this. Thanks.

[2016-06-10 09:14] #5 closed

[2016-06-10 18:49] lewismc commented on #5
Thanks

On Friday, June 10, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-06-11 04:08] lewismc opened #21 "Tests failing in master"
Hi @Omkar20895 the following tests are failing. Can you take a look. This is running off of a clean master branch.
[code]

[2016-06-11 06:22] Omkar20895 commented on #21
@lewismc there are only 15 test cases in the master branch right now, How come you have 30 test case in your master?? I think the rest 15 are the outdated previous tests that I have sent.
Please take a look at this link https://travis-ci.org/lewismc/podaacpy/builds/136642257 for reference.
13/15 test cases pass and the rest two fail because of the reason I have mentioned to you earlier. Hope this

[2016-06-11 06:29] Omkar20895 commented on #21
@lewismc from what I have understood, the first 15 test cases you have run are the test cases from the master branch and the rest of the 15 test cases are outdated I guess. Thanks.

[2016-06-11 19:20] lewismc commented on #21
I am installing podaacpy as following

Git clone $master

Python setup.py install

Nosetests

I then have the failing tests

On Friday, June 10, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-06-12 09:16] Omkar20895 commented on #21
@lewismc I have used the same instructions that you have used in the same order.. I have got only 15 tests running in my system.

![screen shot 2016-06-12 at 2 43 41 pm](https://cloud.githubusercontent.com/assets/11131863/15990282/38f5f2d8-30ac-11e6-9249-7d44366cb910.png)

![screen shot 2016-06-12 at 2 45 25 pm](https://cloud.githubusercontent.com/assets/11131863/15990288/58a23c2c-30ac-11e6-8753-b

[2016-06-13 05:30] lewismc commented on #21
OK I solved it. It was my local copy and the cache of it.
Once I deleted it all and work cleanly off of master branch, everything is good. See log output below.
I have an issue however. Please see bottom of this message
[code]
Once tests have been run, I get the following
[code]
The offending files should be cleaned up after the tests are complete. This is important.

[2016-06-13 07:41] Omkar20895 commented on #21
Okay sure I will do that. Thanks. :)

[2016-06-13 07:43] Omkar20895 commented on #21
Okay sure I am on it! Thanks.

[2016-06-13 20:29] lewismc commented on #14
This is resolved now :)

[2016-06-13 21:07] Omkar20895 commented on #14
Pheww! Finally! 😄  Thanks @lewismc

[2016-06-14 13:45] Omkar20895 commented on #14
@lewismc are you sure that this issue is fixed? Because when I open this link it seems that there is an issue still. Thanks :)

[2016-06-14 17:22] lewismc commented on #14
You are right @Omkar20895 it is still broken. God almighty.

[2016-06-15 08:50] Omkar20895 opened #25 "PODAAC Solr search server down"
- The server @ http://podaac.jpl.nasa.gov/dmasSolr/solr/ is not up yet.
- I have posted a thread in the forum @ https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=6&t=367
- We need to await the reply in the thread and if there is none then I think we need to find an alternative.

[2016-06-15 08:57] Omkar20895 commented on #21
We don't need to delete the doc.txt file right?? pardon me if this question is silly. Thanks

[2016-06-15 14:54] lewismc commented on #25
Thanks Omkar nice

On Wednesday, June 15, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-06-16 07:48] lewismc commented on #25
So as it turns out the server is not down at all... you are just using the wrong server!

The following lines need to be changed ASAP

https://github.com/lewismc/podaacpy/blob/master/podaac/podaac.py#L455
https://github.com/lewismc/podaacpy/blob/master/podaac/podaac.py#L485

Please update this PR ASAP thanks @Omkar20895

[2016-06-16 09:16] Omkar20895 commented on #25
Yeah sure.

[2016-06-16 10:36] #21 closed

[2016-06-16 12:37] Omkar20895 commented on #25
@lewismc This issue has been solved and I am closed it. Thanks.

[2016-06-16 12:37] #25 closed

[2016-06-16 16:18] lewismc commented on #25
Thanks

On Thursday, June 16, 2016, Omkar <notifications@github.com> wrote:

--
*Lewis*

[2016-06-16 18:20] Omkar20895 commented on #14
@lewismc what do we do about this?? I am unable to find any reason for its failure and its annoying me. Please let me know your thoughts.

[2016-06-29 18:41] lewismc opened #30 "Add requires.io support"
https://requires.io/

[2016-06-29 18:41] lewismc opened #31 "Add landscape.io support"
https://landscape.io

[2016-06-30 06:56] Omkar20895 opened #33 "Add PyPi version and downloads badge"
- We also need to add a PyPi version badge which looks like this
![screen shot 2016-06-30 at 12 27 33 pm](https://cloud.githubusercontent.com/assets/11131863/16479494/461bc13e-3ebe-11e6-98a6-4dbb5efd32d8.png)

[2016-07-01 20:30] Omkar20895 opened #35 "Subset and download l3 and l4 subsetted datasets"
- I have been investigating how to subset and download l3 and l4 datasets, since I am new to this I have been facing some confusions.
- I am discussing over this[0] thread in the podaac forum.
- This should be hopefully solved soon.

[0] https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=5&t=219

[2016-07-06 19:13] lewismc commented on #30
@Omkar20895 please update setup.py as per http://python-packaging.readthedocs.io/en/latest/dependencies.html to include all of the dependencies

[2016-07-06 19:19] lewismc commented on #31
Please progress with this now @Omkar20895 thanks

[2016-07-06 19:19] lewismc commented on #33
Please progress with this @Omkar20895

[2016-07-06 19:21] lewismc commented on #35
@Omkar20895 please paste the XML here and format it. It is a large XML file and I don't knwow hich snippet you are referring to. Thanks

[2016-07-06 19:22] lewismc commented on #35
If the data contains XML metadata child elements which are <Grid> then you would be wise to assume that the data is gridded ;)

[2016-07-06 21:11] Omkar20895 commented on #33
@lewismc we need to host it on pip before we could add this badge. Thanks. :)

[2016-07-07 08:03] Omkar20895 commented on #30
@lewismc Done. Thanks.

[2016-07-07 21:38] lewismc commented on #30
Nice
On Jul 7, 2016 1:03 AM, "Omkar" <notifications@github.com> wrote:

[2016-07-09 05:26] Omkar20895 commented on #30
![screen shot 2016-07-09 at 10 55 04 am](https://cloud.githubusercontent.com/assets/11131863/16706280/af6221b8-45c3-11e6-8c39-7764e0f686d2.png)

@lewismc Requirements up to date and setup.py covers all the requirements too, we can close this issue now.

[2016-07-09 05:26] #30 closed

[2016-07-09 05:29] Omkar20895 commented on #31
landscapeio/landscape-issues#239

the above thread is the issue raised @landscape.io, I am posting this here for further reference.

[2016-07-14 21:41] Omkar20895 opened #39 "load_image_granule() does not exist"
- The Image Granule web service is not returning any content upon querying.
- I have opened a thread here [0] and hopefully it should resolve soon.
- The podaac service is quite unstable and it turning out to be PITA  for us :P

[0] https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=6&t=384

[2016-07-14 21:45] Omkar20895 commented on #39
@lewismc the return statement in the load_image_granule() returns a HTTP message headers
![screen shot 2016-07-15 at 3 12 25 am](https://cloud.githubusercontent.com/assets/11131863/16856848/067d49b2-4a3a-11e6-9e4f-8570798cab12.png)

The output of this function is
![screen shot 2016-07-15 at 3 13 29 am](https://cloud.githubusercontent.com/assets/11131863/16856867/238ab36e-4a3a-11e6-907c-85a17694189

[2016-07-14 22:54] lewismc commented on #39
ACK

[2016-07-15 06:55] Omkar20895 commented on #39
The same exact thing happens with the extract_granule() function. :)

[2016-07-21 11:18] Omkar20895 commented on #39
This issue has been resolved by the podaac forum. Thanks. :)

[2016-07-21 11:18] #39 closed

[2016-08-01 07:44] Omkar20895 opened #41 "PODAAC site can't be reached."
- There was some discrepancy in the podaac extract_granule web service.
- I have opened a ticket here [0]

[0] https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=6&t=387

[2016-08-03 08:44] #41 closed, assigned to nobody

[2016-08-04 16:10] lewismc opened #43 "Address RATS Report"
Hi @Omkar20895 the report below is from a release auditing tool which I ran the source code over. If you have some time can you please take a look at some of the issues so we can discuss them?
Thanks
[code]

[2016-08-16 19:39] lewismc opened #46 "Add dependencies to setup.py"
We need to add the dependencies to [setup.py](https://github.com/lewismc/podaacpy/blob/master/setup.py#L40).

[2016-08-16 19:40] lewismc commented on #46
This issue relates to https://github.com/rtfd/readthedocs-sphinx-ext/issues/23

[2016-08-16 20:16] lewismc commented on #46
Now MCC is working
http://podaacpy.readthedocs.io/en/latest/mcc.html

[2016-08-16 20:16] lewismc commented on #46
Utilities and services is still broken

[2016-08-17 17:01] Omkar20895 commented on #46
beautifulsoup is already in the dependencies.
I think there are redundant dependencies in utilities and data_source. I am removing them right away. Thanks.

[2016-08-17 21:47] #46 closed

[2016-08-17 21:47] lewismc commented on #35
Is this addressed @Omkar20895 ? Did you have a PR for the subsetting within l4 granule function?

[2016-08-17 21:48] lewismc commented on #14
All that is left currently broken is the utilities documentatio. Good work @Omkar20895

[2016-08-18 02:50] #31 closed

[2016-08-18 02:56] lewismc opened #48 "Fix landscape.io issues"
Hi @Omkar20895 can you please have a look at
https://landscape.io/github/lewismc/podaacpy/26/messages/style
Thanks

[2016-08-18 07:17] Omkar20895 commented on #48
OMG! there are 47 warnings and that too most of them related to arguments being uppercase!

[2016-08-18 07:26] Omkar20895 commented on #14
@lewismc All the issues with the documentation have been resolved, everything is working OK, I am resolving the issue. Thanks.

[2016-08-18 07:26] #14 closed

[2016-08-18 07:28] Omkar20895 commented on #35
No not yet, I have been caught up in the long weekend we had here, I will get onto this now, sorry for the delay, thanks. :)

[2016-08-18 20:56] lewismc commented on #14
Excellent good work.

[2016-08-18 20:57] lewismc commented on #48
Yes, quite a few. Can you take a look?

[2016-08-19 07:45] Omkar20895 commented on #48
@lewismc I have taken a clear look at all the warnings, most of them say that arguments/functionName should be lowercase, they are practices that you need to follow, I think this is trivial but should not be neglected.

[2016-08-19 08:28] lewismc commented on #48
Can you fix it them...?

[2016-08-19 08:30] lewismc commented on #48
If you don't then I will.
What is going on with https://github.com/apache/climate/pull/383 ?
It is still broken and GSoC is coming to an end.
What is going on here @Omkar20895  ?

[2016-08-19 09:22] Omkar20895 commented on #48
yes I will fix them.

[2016-08-19 12:34] #48 closed

[2016-08-19 13:00] Omkar20895 commented on #43
@lewismc shall we discuss this??

[2016-08-19 15:39] Omkar20895 commented on #33
@lewismc we need to host the package in PyPi so that it can be imported in ocw, the build would fail until then, even though the data source is added to ocw. Thanks.

[2016-08-19 17:36] lewismc commented on #33
Ok ill push today

On Aug 19, 2016 8:39 AM, "Omkar" <notifications@github.com> wrote:

[2016-08-19 19:25] lewismc opened #51 "Fix Python 3 Errors"
[code]

[2016-08-19 19:35] #33 closed

[2016-08-19 19:35] #51 closed

[2016-08-20 04:53] lewismc opened #52 "Edit all license headers"
Change license headers to the following
[code]

[2016-08-20 05:01] #52 closed

[2016-08-20 08:44] Omkar20895 opened #53 "Error in installing podaacpy"
- When I tried to install podaacpy from the cheeseshop I am getting this error.
![screen shot 2016-08-20 at 2 10 48 pm](https://cloud.githubusercontent.com/assets/11131863/17830137/5f2f5b82-66e0-11e6-9628-26fecff7369b.png)

- I cross checked this with Ibrahim, he too got the same error.

[2016-08-20 08:50] Omkar20895 commented on #53
This might be because the pip package contains README.rst but not README.md

[2016-08-20 08:52] jarifibrahim commented on #53
Add `pypandoc` to requirements. This should fix it.

[2016-08-20 09:04] Omkar20895 commented on #53
Yes that fixed it for me. Thanks @jarifibrahim.

[2016-08-20 09:26] jarifibrahim commented on #53
@Omkar20895 Only adding `pypandoc` to dependencies won't work. Pypandoc requires pandoc which needs to be installed as well.

Please take a look at the installation instructions here https://pypi.python.org/pypi/pypandoc/

[2016-08-20 10:05] Omkar20895 commented on #53
@lewismc we can do one thing instead of adding this dependency, we can have two readme files like 'readme.md' and also readme.rst.

[2016-08-20 10:50] jarifibrahim commented on #53
@Omkar20895 See the following code from `setup.py`
[code]
The `pypandoc` is used to convert the `README.md` file (if it exists) to `README.rst`  file. The `README.rst` file is then written to `doc.txt`. There's no point in having both `README.md` and `README.rst` file.

@lewismc Why is the doc created every time someone installs `podaac`? Can't we just put the docs along with the source code on py

[2016-08-20 17:28] lewismc commented on #53
The 'doc.txt' is written to validate what the package landing page will look like at https://pypi.python.org/pypi/podaacpy

Agreed, we can just use the README.rst which I just committed to master branch.
@Omkar20895 pleasse remove README.md and adapt setup.py accordingly. Thanks for pointing this out folks. By having README.rst we no longer require either pypandoc or pandoc.

[2016-08-21 06:30] jarifibrahim opened #55 "Automated PyPI deployments using Travis CI"
Update `.travis.yml` to automatically deploy new releases to PyPI.

[2016-08-21 07:14] jarifibrahim opened #57 "Add PyPI username and password in Travis.yml"
@lewismc Please add your username and password (encrypted) to `.travis.yml` file.

You'll need travis cli installed (instructions [here](https://github.com/travis-ci/travis.rb#installation))
Encrypted password can be generated using `travis encrypt 'plain-text-password'`

[2016-08-21 12:07] Omkar20895 commented on #53
@lewismc done! Thanks.

[2016-08-23 09:18] Omkar20895 commented on #55
@jarifibrahim do we have anything more to add to this??

[2016-08-23 09:21] jarifibrahim commented on #55
We need two deploys
1. For release to `pypitest` which will happen on every commit to master.
2. For release to `pypi` which will happen only on tagged commits (new releases).

[2016-08-23 09:22] Omkar20895 commented on #55
@jarifibrahim shall I assist you on this? I can also learn about how to do it along the way.

[2016-08-23 09:30] jarifibrahim commented on #55
@Omkar20895 Sure. Take a look at this https://docs.travis-ci.com/user/deployment/pypi

[2016-08-23 10:05] Omkar20895 opened #61 "Unwanted stdout of exceptions in travis-ci-build."
Travis build shows up some exceptions that are raised knowingly by me as a part of testing the exceptions in podaac module. Please take a look at the image below for reference:
![screen shot 2016-08-23 at 3 34 20 pm](https://cloud.githubusercontent.com/assets/11131863/17888119/1bb94700-6947-11e6-858c-7c4f480571f8.png)

A simple solution can be removing the --nocapture flag from travis nosetests co

[2016-08-23 10:07] #55 closed

[2016-08-23 10:32] #61 closed

[2016-08-24 16:59] lewismc commented on #57
@jarifibrahim username and password for Pypi?

[2016-08-24 17:06] Omkar20895 commented on #57
@lewismc yes, please take a look at [this](https://www.google.com/url?q=https%3A%2F%2Fwww.appneta.com%2Fblog%2Fpypi-deployment-with-travis-ci%2F&sa=D&sntz=1&usg=AFQjCNGit-N8ziV8bBLz_ax1PMn7vooSvg) for reference.

[2016-08-24 17:10] lewismc commented on #57
Done, please see .travis.yml

[2016-08-24 17:10] #57 closed

[2016-08-24 17:13] #53 closed

[2016-08-24 17:17] Omkar20895 commented on #55
@jarifibrahim @lewismc everything looked good in .travis.yml file but the git log for the latest commit only showed the pypi deployment which was skipped since the commit was not tagged, but the "pypi test" deployment log was nowhere to be seen in the logs. Should we be concerned regarding this??

[2016-08-24 17:28] jarifibrahim opened #62 "Update Travis CI Build"
1. Make nosetests more verbal by adding `-v` flag
2. Fix `testpypi` deployment steps.
3. Cache pip dependencies
4. Disable email notification

[2016-08-24 17:29] Omkar20895 commented on #62
@jarifibrahim thanks for opening this issue, I was going to ping you on gchat for this. :)

[2016-08-24 17:55] jarifibrahim commented on #62
@Omkar20895 No problem :)

[2016-08-24 18:10] #62 closed

[2016-08-26 02:44] lewismc opened #64 "Upgrade Podaacpy to PO.DAAC Web Services v3.2.2"
August 25, 2016
We are pleased to announce the new version (v3.2.2) of the PO.DAAC Web Services now available online at http://podaac.jpl.nasa.gov/ws

PO.DAAC Web Services have been modified to conform to an updated API in the new HiTIDE/L2SS.  Also, there are significant changes in the Granule Subset web service.  The Granule Subset web service is now asynchronous, which prevents web timeouts and

[2016-08-26 03:15] Omkar20895 commented on #64
@lewismc WTH! I did not see this coming, I will add new functions and tests to the podaac class. Thanks.

[2016-08-26 03:17] Omkar20895 commented on #64
@lewismc some of the previous web services have been completely removed!! ^_^

[2016-08-26 03:29] lewismc commented on #64
@Omkar20895 yeah no joke. This is what we call [Sods Law](https://en.wikipedia.org/wiki/Sod's_law) HAHAHAHAHA

[2016-08-26 03:29] lewismc commented on #64
Please update and merge and we can take it from there.

[2016-08-26 03:42] Omkar20895 commented on #64
@lewismc LOL! I think we need to have a gchat on this one probably this week to straighten the things out. Thanks.

[2016-08-26 03:48] lewismc commented on #64
ack

[2016-08-26 20:23] lewismc commented on #64
Hi @Omkar20895 when creating the new functions, can you please ensure that they mirror exactly that of the Web Services API e.g. the functions should be named

dataset_metadata
dataset_search
dataset_variables
granule_metadata
granule_preview
granule_subset
subset_status

we can then copy over the documentation from the PO.DAAC website so update all functions.

[2016-08-26 22:50] Omkar20895 commented on #64
@lewismc okay sure, do you want me to change the name of some old ones too? for example 'load_granule_md' to just 'dataset_metadata'? Thanks.

[2016-08-26 23:45] lewismc commented on #64
Yes please. Lets make the Python API exactly as the Webservice specification.

[2016-08-28 01:01] lewismc opened #66 "Upgrade .travis.yml to use Python3"
We should use Python 3 to build on Travis-CI
https://github.com/lewismc/podaacpy/blob/master/.travis.yml#L3

[2016-08-28 01:03] lewismc commented on #35
Closing this as it is not relevant for 1.1.0 now given the new L2SS API

[2016-08-28 01:03] #35 closed

[2016-08-28 01:03] lewismc commented on #43
Based on the fact that the API is essentially changing, I am closing this off.

[2016-08-28 01:03] #43 closed

[2016-08-28 01:17] #66 closed

[2016-08-28 01:22] lewismc opened #67 "Update documentation, README and ipynb to accomodate L2SS API"
Once we've addressed #64 and #65 we need to update all of the documentation and ensure it all builds well.
The ipynb also needs to be updated so that people can take it for a run.
We should also update the .ipynb because the functions will all have changed.

[2016-08-29 16:14] Omkar20895 opened #68 "Granule search return HTTP Status - 500"
- I have opened an issue in podaac forum for the same. Here is the [link](https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=6&t=406).

[2016-08-29 16:53] lewismc commented on #68
Thanks

On Aug 29, 2016 9:14 AM, "Omkar" <notifications@github.com> wrote:

[2016-09-02 10:00] #68 closed

[2016-09-02 11:26] Omkar20895 opened #69 "Unable to find [URL Template] for accessing preview image"
- I have opened an issue [here](https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=53&t=411), please refer to this for further information.

[2016-09-02 11:26] Omkar20895 commented on #69
@lewismc

[2016-09-08 04:20] lewismc commented on #69
Workaround has been implemented and we can work towards improving within the 1.1.X development. Thanks @Omkar20895

[2016-09-08 04:20] #69 closed

[2016-09-08 04:21] lewismc commented on #64
Good work @Omkar20895 this is grand.

[2016-09-08 04:21] #64 closed

[2016-09-08 19:25] #67 closed

[2016-09-08 19:29] Omkar20895 opened #71 "Increase the coverage of the test cases."
- This is really important because coverage implies stability of the code base.

[2016-09-08 20:03] #71 closed

[2016-09-12 17:40] Omkar20895 opened #73 "webservices.html is not working again."
- Please refer to this [link](http://podaacpy.readthedocs.io/en/latest/webservices.html).
- When I build the documentation locally it works just fine and webservices.html works with the expected content in it.

@lewismc

[2016-09-13 16:33] lewismc commented on #73
Yeah there is another issues somewhere which we need to resolve. This is a PITA. I am going to go ahead and push the release of Podaacpy 1.1.0 regardless. We can update the documentation at a later stage.

[2016-09-13 16:45] lewismc opened #74 "Master build failing"
Build is failing with log available at
https://travis-ci.org/lewismc/podaacpy/builds/159646604
[code]

[2016-09-13 17:16] Omkar20895 commented on #73
Yes sure! @lewismc Thanks.

[2016-09-13 17:19] Omkar20895 commented on #74
@lewismc I don't know what is happening, I guess the PO.DAAC web server is quite unstable, I pushed all the PR's only when travis-ci tests passed. I restarted the build and now everything is working fine again.

https://travis-ci.org/lewismc/podaacpy/builds/159646604

[2016-09-13 22:43] lewismc commented on #74
Thanks @Omkar20895

[2016-09-13 22:43] #74 closed

[2016-09-14 20:57] lewismc opened #75 "Ensure that urllib usage permits use within Python 2.7"
At PO.DAAC, an important user of this library, they run Python 2.7 all of their machines.
It looks like we need to downgrade the urllib API to 2.7. I'll get on it right now.

[2016-09-19 19:50] #75 closed

[2016-09-19 19:52] lewismc commented on #73
All is good now http://podaacpy.readthedocs.io/en/latest/webservices.html

[2016-09-19 19:52] #73 closed

[2016-09-19 20:15] Omkar20895 commented on #73
awesome!

[2016-09-19 20:36] Omkar20895 commented on #73
@lewismc how did this issue resolve? I mean there was no code pushed regarding this that I could find, I am puzzled. Just curious.Thanks very much.

[2016-09-19 22:08] lewismc commented on #73
It always seems to be the PEP8 which gets us. I formatted the code as follows and it wored fine.
[code]

[2016-09-21 16:49] yiboj opened #78 "http.client error for python 2.7"
http.client is python 3.x, not compatible to earlier python

[2016-09-21 16:54] lewismc commented on #78
Thanks @yiboj I appreciate you writing here and telling us about it. Looks like we need to address this. Can you please post a trace or something which confirms the incompatibility? Our builds pass with Python 2.7, 3.3, 3.4 and there are no issues.

[2016-09-21 16:59] yiboj commented on #78
This is the traceback from test script:

Traceback (most recent call last):
  File "podaacpy_test.py", line 2, in <module>
    import podaac.podaac as podaac
  File "build/bdist.linux-x86_64/egg/podaac/podaac.py", line 19, in <module>
ImportError: No module named http.client

[2016-09-21 17:04] Omkar20895 commented on #78
yes! There is a discrepancy here, I think I know why the build passed here, I did not write the test for the function  granule_subset, @lewismc I mentioned this earlier to you that I did not write the test since it sends a granule subset job request to the PO.DAAC server everytime, we forgot to address this later. My apologies for this. I will write a test for it.

@yiboj is it okay if we send a d

[2016-09-21 17:06] yiboj commented on #78
ok
________________________________
From: Omkar [notifications@github.com]
Sent: Wednesday, September 21, 2016 10:04 AM
To: lewismc/podaacpy
Cc: Jiang, Yibo (398E); Mention
Subject: Re: [lewismc/podaacpy] http.client error for python 2.7 (#78)

yes! There is a discrepancy here, I think I know why the build passed here, I did not write the test for the function granule_subset, @lewismc<redir.aspx?R

[2016-09-21 17:40] Omkar20895 commented on #78
@yiboj according to what I have observed, I tried to submit a empty json query like

And still I am being returned a job token, isn't the json data being validated at the web service's side?? Thanks.

[2016-09-21 17:54] yiboj commented on #78
query should be validated by podaac web service, but I have to double check. Which service are you calling ?

[2016-09-21 18:24] Omkar20895 commented on #78
Granule Subset.

[2016-09-25 17:04] Omkar20895 commented on #78
@yiboj @lewismc the issue is solved but the discussion is still open on this thread. We can close this issue after we are done with the discussion. Thanks. :)

[2016-09-25 17:36] lewismc commented on #78
OK doke @Omkar20895 thanks. @yiboj would be excellent if you could let us know if there is some further validation required ion client side. For the time being I will push another release.

[2016-09-26 17:18] yiboj commented on #78
http.client works with python 2.7 now, thanks

[2016-09-28 19:56] #78 closed

[2016-10-01 12:32] Omkar20895 opened #82 "Downloading subsetted dataset from PO.DAAC"
- This issue is raised to track the issue raised in the PO.DAAC forum [here](https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=53&t=424).

[2016-10-16 00:06] agoodm opened #83 "Add recipe to conda-forge"
Hi @lewismc and @Omkar20895

In order to complete our mission to have OCW on conda forge, we need to ensure that all of its dependencies are also available on conda-forge. As of today, I believe `podaacpy` is the only one that is outstanding. Let me know if you would like me to push a `podaacpy` recipe to conda-forge, and if so whether or not you wish to be listed as maintainers. Additionally, the

[2016-10-16 21:39] lewismc commented on #83
Hi @agoodm I am on it right now.

Yes please if you could push one then it would be greatly appreciated.
If we could also document this as the [Podaacpy wiki](https://github.com/lewismc/podaacpy/wiki) then it would also be appreciated such that one of us can replicate it in the future.

[2016-10-16 23:30] agoodm commented on #83
Thanks @lewismc. If you can, you should probably update the package on PyPI too if you have not already to make sure the `LICENSE` file is included.

[2016-10-16 23:40] lewismc commented on #83
Done @agoodm https://pypi.python.org/pypi/podaacpy/1.4.0

[2016-10-19 19:35] agoodm commented on #83
@lewismc Can you add this to the wiki? I don't have commit writes so I can't edit it myself. You can place this section after "Publish to Pypi":

### Upload package to conda-forge

To update the package on conda-forge, fork our [feedstock repo](https://github.com/conda-forge/podaacpy-feedstock) and bump the version number in `recipe/meta.yaml` (it should be in the 2nd line of the file). If you are

[2016-10-19 22:17] lewismc commented on #83
beautiful... thank you @agoodm

[2016-10-19 22:19] #83 closed

[2016-10-20 04:17] agoodm opened #85 "future dependency missing in podaacpy conda recipe"
Smoke tests are failing in  `ocw` Travis CI builds with `podaacpy` because the dependency `future` is missing from the recipe. This will also be a good opportunity to test the process of updating recipe files in conda-forge.

[2016-10-20 04:27] lewismc commented on #85
OK, I'll go ahead and submit a PR in a branch on conda-forge then.

[2016-10-20 04:31] agoodm commented on #85
The PR has already been made :stuck_out_tongue_closed_eyes:

[2016-10-20 04:35] lewismc commented on #85
and boom goes the dynamite !!

[2016-10-20 21:56] #85 closed

[2016-10-20 21:58] lewismc commented on #82
I just checked with one of the PO.DAAC engineers who manages to WebServices. Apparently the JSON response object from which we pull ```status``` also contains a list of ```download``` entries which contain URL links to the subsetted product.
We need to revisit this and also design a test for such. I'll debug and inspect the response myself later on.

[2016-10-20 22:08] Omkar20895 commented on #82
@lewismc I will write a unit test and I will let you know if there is anything of that sort. I was stuck in my academics these days. :)

[2016-10-21 00:32] lewismc commented on #82
No problem, I am also going to have a look later tonight.

[2016-10-21 11:31] Omkar20895 commented on #82
I have checked the JSON response and yes it has a download URL once the subset job is done. I will send a PR with a new function that checks continuously for the given token and downloads the dataset once subset is done. Thanks.

[2016-10-23 23:35] #82 closed

[2016-10-29 06:20] jarifibrahim opened #87 "Access Denied for Dataset URL"
The OCW builds and podaac builds (try running a fresh one) are failing when urllib tries to access the dataset at the following url.

[code]

[2016-10-29 10:52] Omkar20895 commented on #87
Can you point out to the unit test where this is happening?

[2016-10-29 10:55] jarifibrahim commented on #87
See this - https://travis-ci.org/jarifibrahim/podaacpy/jobs/171576563

[2016-10-29 15:20] lewismc commented on #87
In all honesty, in OCW we have several '"live" tests meaning that network,
and service availability is an issue. We need to use basic mocking for all
of these tests and decrease runtime.

On Saturday, October 29, 2016, Ibrahim Jarif <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: le

[2016-11-01 20:17] #87 closed

[2016-11-04 22:37] agoodm opened #90 "Release 1.6.0 or patch 1.5.0?"
Hi all,

Since #87 was resolved, I think it might be worthwhile for us to either create a new release, or manually apply the patch from #89 into our conda-forge recipe. What do you guys think?

[2016-11-05 00:38] lewismc commented on #90
Release 1.6.0 BOOM. I'll spin it later today mate thanks @agoodm

[2016-11-06 06:06] Omkar20895 commented on #90
+1

[2016-11-07 20:00] lewismc commented on #90
DONE

[2016-11-07 20:00] #90 closed

[2016-11-07 21:46] chrismattmann opened #91 "Tika.verify"
http://podaac-uat.jpl.nasa.gov/mcc/

#yeahbuddy @lewismc

[2016-11-07 22:06] lewismc commented on #91
#comingUp

[2016-11-11 10:21] Omkar20895 commented on #91
@lewismc I did not understand this issue 😅  Can I know anything about it?

[2016-11-21 11:36] Omkar20895 opened #92 "Updating all the badges in the readme"
- The present travis-ci is pointing to lewismc/podaacpy but it should point to nasa/podaacpy

[2016-11-21 19:20] #92 closed

[2016-11-21 19:27] lewismc opened #94 "Implement L2SS REST Interface Specification V1"
Having just spoken with @AaronPlave regarding the PO.DAAC L2SS REST Interface Specification V1, he provided me with documentation which I've made available on [our wiki](https://github.com/nasa/podaacpy/wiki/L2SS-REST-Interface-Specification-V1).
An example of this API in use can be seen at the [HiTIDE](http://podaac-tools.jpl.nasa.gov/hitide/) application for Level2 subsetting.

[2016-11-21 20:21] lewismc commented on #91
LOL

[2016-11-30 14:41] Omkar20895 commented on #94
@lewismc are we going to implement this?

[2016-11-30 15:45] lewismc commented on #94
Yes Omkar, I think it would be good if we could. I just have not had time
to implement the API in python yet.by all means if you have time then go
ahead mate 😀

On Wed, Nov 30, 2016 at 6:41 AM Omkar <notifications@github.com> wrote:

[2016-11-30 16:54] Omkar20895 commented on #94
Yes sure! :)

[2016-12-02 17:52] Omkar20895 commented on #94
@lewismc I tried hacking the code and also wrote a test case to the dataset search functionality but I was getting a '404 Not Found' error saying

[2016-12-02 18:06] lewismc commented on #94
Do you have a pull request @Omkar20895 ?

[2016-12-02 21:18] Omkar20895 commented on #94
@lewismc here you go #95

[2016-12-03 04:34] lewismc commented on #94
@AaronPlave can you confirm if you can get a response from the following?
[code]
We are trying to implement the L2SS spec and [receiving 404 responses](https://travis-ci.org/nasa/podaacpy/jobs/180837319). Thanks for any insight.

[2016-12-03 06:39] AaronPlave commented on #94
The correct base url for the PO.DAAC L2SS services is:
http://podaac-tools.jpl.nasa.gov/l2ss-services/l2ss/

So your query above would be transformed to:
http://podaac-tools.jpl.nasa.gov/l2ss-services/l2ss/dataset/search?datasetId=PODAAC-ASOP2-25X01

That being said, PO.DAAC Web Services (which you are already using) provide a cleaner and more well documented interface to almost all of these L2SS

[2016-12-03 11:05] Omkar20895 commented on #94
@AaronPlave Thank you very much for the clarification. Today when I was writing the code for l2ss I too felt that I was implementing PO.DAAC webservices again repetitively. +1 for implementing Image Pallettes and granule availability. Thanks.

@lewismc your thoughts?

[2016-12-03 19:48] lewismc commented on #94
Yes folks... the point here as well is for Podaacpy to also be the defacto Python toolkit for PO.DAAC data engineers as well as consumers of PO.DAAC data. So therefore, it makes perfect sense to implement L2SS as well even if there is some aspects of the API's which look the same and maybe even provide the same end results. Podaacpy also provides a mechanism for more people to easily use all publi

[2016-12-08 12:08] #94 closed

[2016-12-15 14:48] Omkar20895 opened #98 "Release of podaacpy version-1.7.0"
- Lots of new features have been addressed since the last release and I think this is a perfect time to release a new version.

@lewismc

[2016-12-16 13:55] lewismc commented on #98
@Omkar20895 good idea. I think we should document the l2ss class
https://github.com/nasa/podaacpy/blob/master/podaac/l2ss.py
Thank you guys for adding this... great work man.

[2016-12-16 20:26] lewismc commented on #98
Nice @Omkar20895 I'll push a release now.

[2016-12-16 20:26] #98 closed

[2016-12-17 15:38] Omkar20895 commented on #98
Thank you very much! :) @lewismc

[2017-02-10 22:19] lewismc opened #101 "Verify that MCC works with OPeNDAP URLs"
Let's write some more [tests for the MCC](https://github.com/nasa/podaacpy/blob/master/podaac/tests/mcc_test.py) which work with the following URLs

https://gpm1.gesdisc.eosdis.nasa.gov:443/opendap/GPM_L3/GPM_3IMERGM.03/2014/3B-MO.MS.MRG.3IMERG.20140312-S000000-E235959.03.V03D.HDF5
https://goldsmr4.gesdisc.eosdis.nasa.gov:443/opendap/MERRA2_MONTHLY/M2IMNXINT.5.12.4/1980/MERRA2_100.instM_2d_int_Nx.

[2017-02-12 09:36] Omkar20895 commented on #101
@lewismc To access some datasources we need to have authentication in the script and that is missing at present in our code.

[2017-02-12 11:08] Omkar20895 commented on #101
So It tried uploading the remote file directly from [here](http://podaac-uat.jpl.nasa.gov/mcc/) and I got the error in the image below for all the three urls.

![screen shot 2017-02-12 at 4 34 01 pm](https://cloud.githubusercontent.com/assets/11131863/22861550/97485546-f141-11e6-834e-513c07b79f92.png)

I think the podaac mcc API itself lacks the authentication service for some data sources but I a

[2017-02-13 10:40] Omkar20895 opened #102 "Version miss-match in condaforge and pypi"
- The condaforge hosts 1.6.0 version of podaacpy and pypi hosts 1.7.0 version of podaacpy.

[2017-02-14 02:07] agoodm commented on #102
LOL. It appears we forgot to merge the 1.7.0 PR on the feedstock, most likely because the CI was taking forever to start. It's good to merge though so this has been done.

[2017-02-14 06:27] lewismc commented on #102
Thank you folks
On Mon, Feb 13, 2017 at 6:07 PM Alex Goodman <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-02-14 22:46] #102 closed

[2017-02-15 05:47] Omkar20895 commented on #102
Thanks for solving this @agoodm :)

[2017-02-15 23:55] lewismc commented on #101
Hi @Omkar20895 yes you are right it does. The correct way to address this is for us to implement the support over on the PO.DAAC side. I'll keep this issue open for a while.
I wonder if we could provide a work around in Podaacpy e.g. check if it is a OPeNDAP URL and wrap the HTTP request using [Pydap](https://github.com/pydap/pydap).
WDYT?

[2017-02-17 07:22] Omkar20895 commented on #101
I don't know, I will work around with Pydap and then comment here.

[2017-02-20 16:00] Omkar20895 commented on #101
Ok, so I worked with pydap and thought I could download the remote file using pydap and then upload it using check_local_file() for mcc check instead of using check_remote_file(), but pydap client returns a pydap object.
@lewismc

[2017-02-21 21:31] lewismc commented on #101
@Omkar20895 looks like we may need to implement a [NetCDFReponse](http://pydap.readthedocs.io/en/latest/responses.html#netcdf)

[2017-02-23 07:15] Omkar20895 commented on #101
WOW! I missed that in the docs! 😅  I will work on it. So the implementation would be downloading the file using pydap and then upload it using check_local_file() functionality. Any suggestions are welcome. Thanks.

[2017-02-23 13:31] ffang10 commented on #101
Most DAP tools (Panoply etc.) have this model of accessing .dds, .das (both metadata), and then .dods (binary data) responses. The netcdf Java or C libraries may support that. For compliance checkers only the first two (metadata) responses are relevant. The netcdf response in Pydap seems to be an add-on. The doc implies it works better for grid data, whereas we need a reliable compliance checker f

[2017-02-23 15:46] lewismc commented on #101
Thanks @ffang10

@Omkar20895, even if the NetCDF response returned by Pydap may work better on gridded data as oppose to swatch and other granularities, I still think that having functionality just as you've described will be of use. We can iterate on it. If you would like some assistance then let me know.

[2017-02-25 00:34] Omkar20895 commented on #101
@lewismc I will send a PR addressing this and as you have mentioned we will iterate on it with all the suggestions that we get. Thank you very much @ffang10

[2017-02-28 07:17] Omkar20895 commented on #101
There was an error that I was facing during installation of pydap with python3, I have opened an issue [here](https://github.com/pydap/pydap/issues/70), please take a look at it.
@lewismc

[2017-02-28 07:50] lewismc commented on #101
Thanks for looking into it @Omkar20895 I've replied over on the Pydap issue.

[2017-03-01 19:18] Omkar20895 commented on #101
OK, since I couldn't find any documentation on pydap.responses.netcdf module I went ahead and digged a little using this [here](https://github.com/pacificclimate/pydap.responses.netcdf/blob/master/src/pydap/responses/netcdf/__init__.py
). I have also opened the pydap.netcdf.responses package that is installed in my local machine(when I run pip), I had no clue how to use it. I think we need a lot o

[2017-03-01 20:08] lewismc commented on #101
Yes OK, lets address the issue over on Pydap https://github.com/pydap/pydap/issues/70 before we inherit her in Podaacpy.

[2017-03-02 14:12] Omkar20895 commented on #101
Yes, I have written some code but ended up with some errors, coming back to this after releasing a stable version of pydap is a good idea for now. Thanks :)
@lewismc

[2017-03-15 15:26] lewismc opened #103 "Incorrect 'startIndex' parameter in data_part2 within podaac_utils.py"
Hi @Omkar20895 I see the [following code](https://github.com/nasa/podaacpy/blob/master/podaac/podaac_utils.py#L102) as an example
[code]
Should the ```startIndex``` data_part2 not start from 401 seeing as ```data_part1``` has the count until 400? Or does the first count start from 0 and finish at 309?

[2017-03-20 05:33] Omkar20895 commented on #103
Hi @lewismc, If you look at the xpath : feed/author/opensearch:startIndex in the url [here](https://podaac.jpl.nasa.gov/ws/search/dataset/?format=atom&itemsPerPage=400), you can see that the startIndex by default is 0 and goes to 399, this correponds to the 400 entries(ItemsPerPage).
Please correct me if I am wrong. This was taken care of back then when we were coding it. Thanks :)

[2017-03-21 15:18] lewismc commented on #103
Sounds good to me, I just wanted to double check. Thanks.

[2017-03-21 15:18] #103 closed

[2017-04-02 05:04] lewismc opened #104 "extract_l4_granule granule name split results in IndexError: list index out of range"
The [following code](https://github.com/nasa/podaacpy/blob/master/podaac/podaac.py#L594) is buggy and results in the list index out of range.
[code]
PR coming up.

[2017-04-02 05:07] lewismc commented on #104
Addressed in #105

[2017-04-02 05:07] #104 closed

[2017-04-02 05:24] #91 closed

[2017-04-02 05:26] chrismattmann commented on #91
-1

[2017-04-02 05:28] lewismc commented on #91
LOL @chrismattmann

[2017-04-19 03:11] lewismc opened #108 "Incorrect URL instantiation in podaacp.py"
Hi @Omkar20895 this URL should be initiated to HTTPS right?
https://github.com/nasa/podaacpy/blob/986d0aa0a47f685aad056216208968aa32f25595/podaac/podaac.py#L32
[code]

[2017-04-19 03:18] lewismc opened #109 "podaac.extract_l4_granule documentation incorrect"
Hi @Omkar20895 we need to remove the following documentation as the parameter does not exist in the function signature
https://github.com/nasa/podaacpy/blob/986d0aa0a47f685aad056216208968aa32f25595/podaac/podaac.py#L578-L581
[code]

[2017-04-19 03:21] lewismc commented on #108
Addressed in
[code]

[2017-04-19 03:21] #108 closed

[2017-04-19 03:21] lewismc commented on #109
Addressed in
[code]

[2017-04-19 03:21] #109 closed

[2017-04-19 16:15] Omkar20895 commented on #109
Thank you @lewismc :)

[2017-04-19 16:16] Omkar20895 commented on #108
Thank you @lewismc for noticing this.

[2017-04-20 22:11] lewismc opened #110 "Implement Level3 Subsetting from PO.DAAC Live Access Server (LAS)"
I posted a [thread over on the PO.DAAC Forum](https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=59&t=580&p=998#p998) regarding use of the [LAS](https://podaac-tools.jpl.nasa.gov/las/UI.vm).
The response was as follows
[code]

[2017-04-20 22:12] lewismc commented on #110
The important links for us right now are

A LAS product request is sent from a web page to the server encoded in XML and it does this through a javascript API.
More information on the API for the LAS Request javascript component can be found at:
http://ferret.pmel.noaa.gov/LAS/documentation/developer-documentation/javascript-components-v2.x/lasrequest-jsdoc

LAS Response javascript wrapper helps w

[2017-04-20 22:23] lewismc commented on #110
REST API documentation is available at
http://ferret.pmel.noaa.gov/LAS/documentation/developer-documentation/the-rest-interface-for-gui-construction/introduction
Some of the links are busted so I'm in the process of reporting them to the Website admin.

[2017-04-20 22:30] lewismc commented on #110
Download URL is as follows
[code]

[2017-04-20 22:32] lewismc commented on #110
An example APi call for [getOperations](http://ferret.pmel.noaa.gov/LAS/documentation/developer-documentation/the-rest-interface-for-gui-construction/getoperations) can be found at
https://podaac-tools.jpl.nasa.gov/las/getOperations.do?dsid=AMSRE_L3_SST_1DEG_1MO&varid=tos-AMSRE_L3_SST_1DEG_1MO

[2017-04-20 22:35] lewismc commented on #110
An example dataset search can be seen as follow
https://podaac-tools.jpl.nasa.gov/las/getDatasets.do

[2017-04-21 01:00] lewismc commented on #110
Hi @Omkar20895 I just pushed some commits to master to stabilize subsetting, etc. Is this a good time to start on the L3 Subsetting on do you think we should push 2.0.0 first?

[2017-04-21 05:09] Omkar20895 commented on #110
@lewismc since we had a release(1.9.0) recently and the enhancements after the release were minor, I think that we need to address this issue first and then go for a release addressing a new enhancement. Please let me know what you think. I will look into this issue today. Thanks.

[2017-04-21 16:37] lewismc commented on #110
Ack

On Thu, Apr 20, 2017 at 10:09 PM Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-04-22 13:06] Omkar20895 commented on #110
@lewismc are we going to implement the five actions mentioned [here](http://ferret.pmel.noaa.gov/LAS/documentation/developer-documentation/the-rest-interface-for-gui-construction/introduction)?

[2017-04-22 17:25] lewismc commented on #110
@Omkar20895  think so, however I am waiting on a response to my question here
http://ferret.pmel.noaa.gov/LAS/documentation/email-admin
God only knows where the email archives live so I cant provide a link to the email thread however I will post anything fruitful here.

[2017-04-27 18:23] lewismc opened #111 "Create utility function to list available subset granules"
We should provide a [podaac_utility function](https://github.com/nasa/podaacpy/blob/master/podaac/podaac_utils.py) which returns a list of Dataset Id's for [available subset granules](https://podaac.jpl.nasa.gov/ws/subset/granule/index.html#tblDataset2). Subsetting is currently restricted to Level2 granules meaning that we can't yet use the functionality fully within Apache OCW. This is because th

[2017-05-09 16:39] Omkar20895 commented on #111
Hi @lewismc I just checked the dataset id's and shortnames mentioned [available subset granules](https://podaac.jpl.nasa.gov/ws/subset/granule/index.html#tblDataset2). They are all level2 datasets and a utility function for them already exists [here](https://github.com/nasa/podaacpy/blob/master/podaac/podaac_utils.py#L25). Please correct me if I am missing something.

[2017-05-11 01:35] lewismc commented on #111
This is great.
We should augment the granule_subset documentation to specify that the
function can only currently be used with L2 granules.

On Tue, May 9, 2017 at 9:39 AM Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-11 05:43] Omkar20895 commented on #111
@lewismc I agree, I will add it to the documentation. Thanks.

[2017-05-11 19:00] lewismc commented on #111
+1

On Wed, May 10, 2017 at 10:43 PM Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2017-05-17 15:23] lewismc commented on #111
Addressed in #112

[2017-05-17 15:23] #111 closed

[2017-05-19 23:07] lewismc commented on #110
@Omkar20895 yes we will just go ahead and provide the five functions mentioned above. I'm going to start work on this @Omkar20895 I'll provide a patch OK doke.

[2017-05-20 05:33] Omkar20895 commented on #110
But @lewismc there is no documentation of any sort yet. How are you working on this? Just curious. When I click on the links I am getting an HTTP 404 response.

[2017-05-20 15:09] lewismc commented on #110
Yes so am I. I do however get a response from getDatasets

Essentially we are looking for
 * utility functions
 * download functions

End of story
I'll try to address the former. I am over on the LAS lists as before to get
some answers.

On Fri, May 19, 2017 at 10:33 PM Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)49

[2017-05-26 07:51] lewismc commented on #110
I'm going to close this issue off... the LAS is not the preferred mechanism for retrieving L3 daa products.

[2017-05-26 07:51] #110 closed

[2017-10-03 20:44] lewismc opened #113 "Add Podaacpy User-Agent HTTP Header in all requests"
Right now, it is difficult to tell if and when people are using Podaacpy. One way we could determine this is if we explicitly set the User-Agent Header in the requests library call. This can be achieved as follows
[code]

[2017-10-16 21:22] lewismc opened #114 "Extend Podaacpy to OceanColor Data"
The [OceanColor](https://oceandata.sci.gsfc.nasa.gov) project provides a file search functionality which would be a useful addition to Podaacpy.
The primary POST API is located at https://oceandata.sci.gsfc.nasa.gov/api/file_search, with parameters including
[code]

[2017-10-19 21:04] lewismc commented on #113
I've pushed the updates for requests, we should also address urllib and any other calls

[2017-10-20 21:43] #114 closed

[2017-10-20 21:43] #113 closed

[2017-10-20 23:38] chrismattmann commented on #91
bewm = Tika.sorted()

[2017-10-24 21:52] lewismc commented on #91
LOL @chrismattmann

[2017-10-30 23:08] chrismattmann commented on #91
podacc.tikakivasolrlib.verify()

[2018-03-13 21:12] lewismc opened #117 "Add list datasets by processing level to podaac_utils"
The ability to search based on process level is currently lacking from podaacpy. We need to add this functionality particularly for OCW as only L4 blended datasets are accepted due to nature of Dataset object requirements for OCW e.g. lat, lon and time.

[2018-03-14 00:20] lewismc commented on #117
Addressed in #118

[2018-03-14 00:20] #117 closed

[2018-03-14 19:43] lewismc opened #119 "Add OceanWorks API's"
[OceanWorks](https://oceanworks.jpl.nasa.gov/) is a JPL project which provides a rich set of API's we can interact with. We should add this functionality for the next release.

[2018-03-15 05:27] Omkar20895 commented on #119
@lewismc can I help on this imporovement? Thanks

[2018-03-15 05:30] lewismc commented on #119
+1 omkar

On Wed, Mar 14, 2018 at 22:27 Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
*Skype*: lewis.john.mcgibbney

[2018-03-17 05:28] Omkar20895 commented on #119
Hi @lewismc I have started working on the above. I just want to let you know the sub routine names:

subroutine1: get_dataset_list()
subroutine2: get_dataset_stats()
subroutine3: not sure what would be the appropriate sub routine name, open to suggestions.

subroutines = no.of end points.

Thanks.

[2018-03-22 22:46] lewismc commented on #119
Hi @fgreg can you list what you envisage a Python APi to look like for _OceanWorks_? I will deal with MUDROD, thank you for any input I really appreciate it.

[2018-03-22 22:58] fgreg commented on #119
We have the start of a python client for NEXUS here: https://github.com/apache/incubator-sdap-nexus/tree/master/client

NEXUS is the service responsible for serving the endpoints currently described on https://oceanworks.jpl.nasa.gov/

So I'm not sure that you want to re-implement these things on your own or maybe just include the nexuscli as a dependency to this project?

nexuscli is still under

[2018-03-22 23:08] lewismc commented on #119
Hi @fgreg thank you,

That's exactly what I want to do.

Is there an open JIRA issue for adding then endpoints ? Thanks

[2018-03-22 23:11] fgreg commented on #119
@lewismc No they haven't been opened yet. Here's one recently done by Nga though that could be used as an example: https://issues.apache.org/jira/projects/SDAP/issues/SDAP-47

[2018-06-27 17:56] lewismc opened #121 "Add functionality to download data to s3"
Some functions for the associated services have a ```path=''``` meaning that the user can download the data to wherever they want on the local machine.

This issue looks to allow s3 paths such that the data can be sent to s3 for analysis.

[2018-08-24 16:34] swatisingh45 commented on #121
Hey ! can I take up the issue?

[2018-08-24 17:53] lewismc commented on #121
Hi @swatisingh45 yes please. The idea would be to add a new parameter to both [def granule_subset(self, input_file_path, path='')](https://github.com/nasa/podaacpy/blob/master/podaac/podaac.py#L484) and [extract_l4_granule(self, dataset_id='', path='')](https://github.com/nasa/podaacpy/blob/master/podaac/podaac.py#L574) to essentially include a boolean flag to persistence in s3.
The new function s

[2018-09-25 13:33] lewismc opened #122 "Add API's for PO.DAAC Drive"
[PO.DAAC Drive](https://podaac-uat.jpl.nasa.gov/drive) is yet another data access mechanism which could be offered by Podaacpy.
Drive leverages [WebDAV](https://en.wikipedia.org/wiki/WebDAV) so we need to replicate as much functionality as it useful for users.
Examples of using CURL to retrieve files
[code]

[2018-09-25 13:34] lewismc commented on #122
Additional information resides at
https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=5&t=946

[2018-10-19 01:34] #122 closed

[2018-11-02 17:55] lewismc opened #124 "Update release management policy to use twine"
When running the 2.2.0 release process, I encountered the following

[code]

[2018-12-20 14:48] noah-de commented on #124
Could I help with this issue?

[2018-12-21 17:58] lewismc commented on #124
@noah-de I'll loop you in next time we push a release. In the meantime I've permitted you write permissions so feel free to make any contributions you see fit. Thank you for the contributions to date.

[2018-12-22 04:07] noah-de commented on #124
Many thanks!

[2019-01-12 21:33] noah-de opened #127 "Python 2.6 master build failing"
Looking at the build log (https://api.travis-ci.org/v3/job/478761721/log.txt) the system failure appears to be generated from this dependency: https://github.com/kjd/idna/blob/master/setup.py

Particularly, line 17: a commit from 7 months ago which discontinued support for older versions of Python.

Python 2.6 has been unsupported since 2016: https://www.python.org/dev/peps/pep-0361/. Is there a r

[2019-01-19 19:47] lewismc commented on #127
@noah-de

Some parts of the scientific community have been very stubborn about upgrading to Python3 for years. The reason for supporting Python 2.X was merely to try and be as flexible as possible with this in mind.
I am going to drop support for Python 2.6 right now. Thanks for bringing this up.

[2019-01-19 19:52] lewismc commented on #127
Addressed in https://github.com/nasa/podaacpy/commit/a655d737d3cfc70349ccde718065f0f790e222e4

Thank you @noah-de

[2019-01-19 19:52] #127 closed

[2019-02-12 02:15] lewismc opened #128 "Implement Level3 and Level4 subsetting logic"
Right now there is no standardized, user friendly mechanism for subsetting level3 or level4 data from PO.DAAC. This is a major issue and it is an area for podaacpy to address.
In order to subset, typical parameters include a dataset name OR short name AND space AND time AND variable information.
Currently, we do have a function for retrieving [variables for a dataset](https://podaacpy.readthedocs.

[2019-02-12 17:04] lewismc commented on #128
Thinking about L3 and L4 subsetting again.
Concerning only the variable names we would want to retrieve from Hyrax…
Consider the following DDX response.
Would we want to use the ‘standard_name’ e.g. ‘sea_surface_subskin_temperature’ or normal ‘name’ e.g. ‘sea_surface_temperature’? Which is it that we would use when calling the subset request from Hyrax?

[code]

[2019-02-12 17:05] lewismc commented on #128
As it turns out, we want to be retrieving the
```<Array name="sea_surface_temperature">```
as there is no guarantee that standard_name or long_name are the variable names.

[2019-02-13 07:43] Omkar20895 commented on #128
Hi @lewismc, can you please pull up some link that would help me retrieve OpeNDAP DDX response or maybe some API link? I would like to explore more. When I google it all I could find was some documentation links. Thanks.

[2019-02-13 19:31] lewismc commented on #128
Hi @Omkar20895 yes one resides [here](https://podaac-opendap.jpl.nasa.gov/opendap/allData/ghrsst/data/GDS2/L2P/AMSR2/REMSS/v8a/2019/044/20190213001101-REMSS-L2P_GHRSST-SSTsubskin-AMSR2-L2B_rt_r35859-v02.0-fv01.0.nc.ddx). It's very simple XML.

[2019-02-14 02:30] Omkar20895 commented on #128
Hi @lewismc,

I see from the attached xml data that the following are the list of variables in the data:
- lat
- lon
- time
- sea_surface_temperature
- sst_dtime
- dt_analysis
.
.
.
- cloud_liquid_water
- rain_rate

Correct me if I am getting something wrong. We can use XML Xpaths using lxml.xtree/xpath module in the variable utility function to get the variable names. I will start working on it a

[2019-02-14 03:56] lewismc commented on #128
@Omkar20895 thanks for stepping up here.

The only issue just now is that [Podaac.dataset_variables function](https://podaacpy.readthedocs.io/en/latest/webservices.html#podaac.Podaac.dataset_variables) is only available for a [handful of datasets](https://podaac.jpl.nasa.gov/ws/dataset/variables/index.html)... this means that, by enlarge level 3 and 4 subsetting is unavailable using the Webservice

[2019-02-14 23:14] Omkar20895 commented on #128
@lewismc yes, it makes sense to me.

I have a question, the present example that you have mentioned above returns only one entry because it is subsetted using start time and end time. I tried removing start and end times, it returned multiple entries of the dataset and the set of variables in all the entries are common.

For example, I used:

`p.granule_search(dataset_id='PODAAC-GHGMB-3CO02')`

th

[2019-02-16 20:13] lewismc commented on #128
In short no that is not a scenario I think is possible. The contents of the
granule data products is consistent. It’s only the actual sensor
observation values which change. Thanks for looking at this.

On Thu, Feb 14, 2019 at 15:14 Omkar <notifications@github.com> wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
*Skype*: lewis.john.mcgibbney

[2019-02-17 01:43] Omkar20895 commented on #128
Hi @lewismc, I have one last question, please bear with me here. Each XML tag(related to a variable) in the .ddx response either has Array or Grid as the tag name, are these in any way associated with different levels of datasets(l1, l2, l3)? The presence of both Array and Grid tag was not common, in most of the cases the .ddx response has Array tag, but there are some datasets which have both Arr

[2019-02-22 21:59] lewismc commented on #128
@Omkar20895

No.

If you look at the following collapsed XML snippet you will see that the `Grid` child elements are the variables we are interested in. The top three `Array` elements define the structural dimensions for the `Grid`'s

<img width="384" alt="screen shot 2019-02-22 at 1 58 00 pm" src="https://user-images.githubusercontent.com/1165719/53273872-1e2b3880-36aa-11e9-9efe-3f79d1afc5b2.png"

[2019-02-22 22:00] lewismc commented on #128
So really, it is the `Grid`'s which we are interested in extracting.

[2019-02-25 05:01] Omkar20895 commented on #128
@lewismc I am almost done writing new code(rewriting the original dataset_variables function) instead of using the API provided by web services as it does not support all the datasets. But, this increases dependency since we are basically providing a workaround, for example, what if replacing .html with .ddx does not work in the future? Feel free to correct me if I am missing something.

Please le

[2019-03-29 22:32] lewismc opened #131 "Maintain directory structure when downloading from PODAAC Drive"
I recently received the following request

Basically, this issue involves maintain directory structure when downloading from PODAAC Drive.

[2019-03-30 00:01] #131 closed

[2019-04-21 13:23] ShubhamShaswat commented on #128
Hi,I like to help.So,going through comments and from my understanding the function 'dataset_variables' isn't working for all L3 and L4 datasets. The examples in the issue title as **Updating dataset_variable to support L3 and L4 datasets #129** where Dataset id = PODAAC-SASSX-L3UCD deoesn't have OPENDAP URL links as per the the code line no 224
` for link in dataset_links:
            if(link.attr

[2019-04-21 20:41] lewismc opened #134 "Augment Drive.download_granules with 'root' parameter"
From Daniel Kane

download_granules(granule_collection=[], path=", root=")

download_granules(granule_collection=granules, path="/home/data", root="2009")
in order to download the directory 2009 and everything below it.

[2019-04-23 21:40] lewismc commented on #128
Hi @ShubhamShaswat did you see the proposed solution at the following PR https://github.com/nasa/podaacpy/pull/129#issuecomment-471198841

[2019-05-08 17:59] daniel-kane opened #135 "Function "mine_drive_urls_from_granule_search()" Returns Empty List"
I'm having trouble with the mine_drive_urls_from_granule_search() function from the podaac drive API. It was working fine after the recent release adding the directory structure capability, however even with a valid "result" from the granule_search(),  it now always returns an empty list.

mine_drive_urls_from_granule_search() syntax:

[code]

Upon investigating, nothing is ever appended to 'drive

[2019-05-11 13:56] PKUliubaojian commented on #135
I meet exactly the same issue. It looks like a bug.
I edited the function mine_drive_urls_from_granule_search and it works for CYGNSS data.
[code]
It was tested only for CYGNSS data. May be it works for yours.

[2019-05-14 17:48] noah-de opened #136 "Refactor for the deprecation of FTP?"
Should we make issues for each area to be refactored with the imminent deprecation of FTP?
https://podaac.jpl.nasa.gov/announcements/2019-05-06_REMINDER_PO.DAAC_FTP_RETIREMENT

[2019-05-14 21:19] lewismc commented on #136
Hi @noah-de yes we most likely should. There is one way for us to do this... essentially we could wait until FTP is totally dropped at PO.DAAC, run our unit tests and fix any broken code such that tests pass. wdyt?

[2019-05-14 21:21] lewismc commented on #135
@daniel-kane thanks for reporting

@PKUliubaojian thanks for a proposed fix. Can you submit this in a pull request to we can test it out?
Thanks

[2019-05-15 03:37] noah-de commented on #136
Very true @lewismc a common approach is to _wait and see what breaks_.  However, I thought that you might have some knowledge from either NASA or JPL. Either from some high level documentation on the podaacpy's dependencies of PO.DAAC or conversations around the water cooler.
I would prefer to be proactive: retire FTP code and leverage PO.DAAC Drive.
As long as it is fixed before the next release,

[2019-05-16 16:18] daniel-kane commented on #135
@PKUliubaojian your fix seems to be working for me, for ASCAT data, and download_granules() is also working

[2019-05-16 16:27] #135 closed

[2019-05-16 16:29] lewismc commented on #136
I'll wait another week or so until FTP has been totally deprecated before releasing again @noah-de

[2019-05-21 01:06] noah-de commented on #124
Where is the release management policy?

Instructions for uploading via twine are here:
https://packaging.python.org/tutorials/packaging-projects/#uploading-the-distribution-archives

the actual command is:
` twine upload dist/*`

[2019-05-28 14:20] daniel-kane opened #138 "Question about granule_search() from web services API"
Is the intended functionality of granule_search() to return a maximum of thirty days?

Right now, no matter how long of a date range you provide, it will only return about 30 days of granules. If no start or end date is provided, it will download the first thirty days of the dataset.

Is this the expected functionality?

[2019-05-29 14:15] noah-de commented on #124
@lewismc I am going to close this issue. We have documented the instructions for uploading via twine  here (https://github.com/nasa/podaacpy/issues/124#issuecomment-494201699) and as mentioned in dc42b8a we are utilizing encryption to deploy with travisCI.

[2019-05-29 14:15] #124 closed

[2019-07-18 13:48] lewismc commented on #138
@daniel-kane probably not. Sorry I was on vacation and just saw this. What behavior would you like and we can implement it?

[2019-07-31 16:28] lewismc commented on #138
@daniel-kane ping

[2019-07-31 17:46] lewismc commented on #136
@noah-de any comments here?

[2019-07-31 19:33] lewismc opened #140 "Replace xml.etree.ElementTree.fromstring functions with their defusedxml equivalents."
DeepSource has flagged the following issues
[code]
Justification is as follows

[2019-07-31 19:33] lewismc commented on #140
Full analysis can be see at https://deepsource.io/gh/nasa/podaacpy/issues/?type=security

[2019-07-31 19:34] lewismc commented on #140
There are a few instances of this happening but it should be trivial to fix.

[2019-07-31 19:48] noah-de commented on #136
Not at the moment. I am looking forward to seeing what we can learn from the new health check introduced by @sanketsaurav in #139.

The build still fails (https://travis-ci.org/nasa/podaacpy/builds/566054604) and I have not had time to dive into the cause and resolve it.

I leave it to your discretion.

[2019-07-31 20:09] lewismc commented on #136
I *think* that MCC functionality is currently broken. I'll work on that.
I'm spending some time today and will submit pull requests as I go. Thanks

[2019-07-31 20:21] noah-de commented on #136
Terrific!
Thanks

On Wed, Jul 31, 2019 at 1:09 PM Lewis John McGibbney <
notifications@github.com> wrote:

[2019-08-02 22:57] lewismc commented on #140
Additional issues can be located at https://deepsource.io/gh/nasa/podaacpy/issues/

[2019-08-03 02:54] lewismc commented on #138
@daniel-kane PING again.

[2019-08-03 02:58] lewismc commented on #136
@noah-de the following function within *drive.py* will be affected
[code]
This is an easy fix however. I submitted it as part of the pull request in #140

[2019-08-03 02:59] lewismc commented on #134
I've actually had people state that current behavior is preferred. Closing off as WONT FIX.

[2019-08-03 03:01] lewismc commented on #136
We actually need to implement unit tests for drive.py but I'll implement this in another ticket.

[2019-08-03 03:38] lewismc commented on #136
Resolved in #140

[2019-08-03 03:38] #136 closed

[2019-08-03 03:38] #140 closed

[2019-08-03 15:16] noah-de opened #147 "Implement integration tests for drive.py"
This is an area that lacks testing.
However, we can't just mock the authentication portion since all drive calls are done by an authenticated user.
Open to suggestions on how we test this area.

[2019-08-03 15:36] lewismc commented on #147
For the examples I created a mock account
https://github.com/nasa/podaacpy/blob/master/examples/podaac.ini
We could just use that I suppose.

[2019-08-03 16:11] noah-de commented on #147
This should work for now. If there is no way to separate the methods from the context an authenticated user, then we are doing integration tests.

Looking forward to working with this in the ensuing week.

[2019-08-05 20:46] #147 closed

[2019-08-05 20:59] lewismc commented on #124
https://github.com/nasa/podaacpy/wiki/Podaacpy-Release-Process#publish-to-pypi

[2019-08-07 19:10] russelan-umich opened #149 "Accessing CYGNSS L0 data with podaacpy"
Is there anyway to access the CYGNSS L0 data through podaacpy? I know they are controlled data, and I am able to use my login to get access to it through PO.DAAC Drive, but is there some sort of way to provide authentication to access the data through Python? Thanks!

[2019-08-07 20:14] lewismc commented on #149
Hi @russelan-umich from the dataset search functionality right now it appears PO.DAAC only provides L1, L2 and L3 CYGNSS data - https://podaac.jpl.nasa.gov/datasetlist?search=cygnss

I'm going to ask the data engineering team if the L0 dataset is public. I'll write back here.

[2019-08-07 20:15] russelan-umich commented on #149
Hi @lewismc I believe it is not a public dataset

[2019-08-07 20:16] lewismc commented on #149
@russelan-umich I'm finding out what the availability is right now. I'll respond here verbatim.

[2019-08-08 23:05] lewismc opened #150 "Add support for Remote Sensing Systems (RSS) HTTP data access"
[Remote Sensing Systems](http://remss.com/) provides an [HTTP server](http://data.remss.com/welcome.txt) enabling data access to a wide variety of satellite microwave radiometers, scatterometers, and sounders.

http://data.remss.com/welcome.txt

As we've done with OceanColor Web, we could provide a Class for interaction with RSS.

[2019-08-09 19:26] moronidav commented on #149
@russelan-umich, L0 is intended to be a private dataset. Special permission can only be granted through the CYGNSS Mission, and as a result, all public-facing access tools (including podaacpy) will be unable to access L0 data.

[2019-08-12 17:15] russelan-umich commented on #149
Sounds good I will use a different tool to accomplish this. Thanks!

[2019-08-12 17:15] #149 closed

[2019-08-20 05:11] noah-de commented on #150
I would be interested in helping with this!

[2019-08-20 14:31] lewismc opened #152 "Add PodaacUtils.mine_drive_urls_from_granule_search function"
@cgentemann highlighted an issue with data access which needs to be addressed.
The issue pertains to access for granules obtained from the following
[code]
... the only problem here is that the drive `urls` obtained can only be accessed with authentication... which is typically provided through the `Drive` class instantiation.

The proposal is therefore to add a new function as follows
[code]
I'll

[2019-08-20 15:32] #152 closed

[2019-08-20 15:33] lewismc commented on #138
Closing this one off... if you feel like re-opening then please go ahead.

[2019-08-20 15:33] #138 closed

[2019-08-20 15:33] #134 closed

[2019-08-21 05:39] lewismc commented on #119
I messed around a bit and found that this was much easier than I expected
[code]
As nexuscli has not been released as of yet it means that it cannot be used directly as a dependency however I am going to clone it and then simply [add it to setup.py as described here](https://stackoverflow.com/questions/32688688/how-to-write-setup-py-to-include-a-git-repo-as-a-dependency/54794506#54794506). We can

[2019-08-23 23:09] lewismc opened #155 "drive.Drive(file) attempts to read from erroneous 'tests' directory"
The Drive Class __init__ function includes the following code
[code]
The `"tests"` component is a bug.
Input files should be either absolute paths or else relative to where the Drive class is being run from.

[2019-08-23 23:11] #155 closed

[2019-10-13 21:51] lewismc commented on #121
Using Apache LibCloud's Python [Object Storage API](https://libcloud.readthedocs.io/en/latest/storage/index.html) might be a good idea here.

[2020-06-30 08:44] xu-yangsci commented on #149
Hi Have you solved the problem yet? I want to get L0 data as well. Thanks!

[2020-06-30 11:47] russelan-umich commented on #149
To access L0 data first you need to get approval by the CYGNSS mission.

After getting access to the data I ended up mounting the private dataset on my Linux system using a method similar to that described in this link: https://podaac.jpl.nasa.gov/forum/viewtopic.php?f=75&t=1026#p1568

[2020-06-30 13:03] xu-yangsci commented on #149
Get it，I will try.&nbsp;
Thank you！

---Original---
From: "russelan-umich"<notifications@github.com&gt;
Date: Tue, Jun 30, 2020 19:48 PM
To: "nasa/podaacpy"<podaacpy@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"xu-yangsci"<1457753582@qq.com&gt;;
Subject: Re: [nasa/podaacpy] Accessing CYGNSS L0 data with podaacpy (#149)

To access L0 data first you need to get approval by t

[2020-06-30 18:02] russelan-umich commented on #149
If you need more information I would recommend contacting podaac@podaac.jpl.nasa.gov

[2020-07-01 00:53] xu-yangsci commented on #149
That' s fine. Thank you and stay connected! I also do research about GNSS-R.&nbsp;

---Original---
From: "russelan-umich"<notifications@github.com&gt;
Date: Wed, Jul 1, 2020 02:02 AM
To: "nasa/podaacpy"<podaacpy@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"xu-yangsci"<1457753582@qq.com&gt;;
Subject: Re: [nasa/podaacpy] Accessing CYGNSS L0 data with podaacpy (#149)

If you

[2021-07-30 16:53] lewismc opened #158 "Change root branch from master to main"
Hi @JustinGOSSES please change the primary branch from `master` to `main`. Thank you

[2021-07-30 17:20] lewismc opened #159 "PodaacUtils().list_all_available_extract_granule_dataset_ids() returns None"
Within the last year or so, PO.DAAC have updated their [Webservice documentation](https://podaac.jpl.nasa.gov/ws/) which improves the developer-facing documentation but which I think also introduces a major regression. The regression being that it now now longer lists datasets... meaning that this information would need to be acquired from elsewhere and a data triage task take place if Podaacpy we

[2021-07-30 20:03] JustinGOSSES commented on #158
Done Master branch has been renamed to main, please change your local environments to reflect.

[2021-07-30 20:03] #158 closed

[2021-10-10 12:37] sno2 opened #160 "Port to Rust and Expose Crate and FFI Python Module"
Hello, I am going to be using the PO.DAAC API for my Rust project and would like to also create my own bindings [crate](https://crates.io) for it.  Would Nasa be interested if I created high-level bindings through [pyo3](https://crates.io/crates/pyo3) to allow an easy interop between Rust <--> Python and PR'd into here?  The bindings would also make use of Rust async and make the methods available

[2021-10-13 05:27] lewismc commented on #160
Hi @sno2 thanks for registering your interest in improving the toolkit.

I am very familiar with Rust as I learned it a few years ago and have used it in a few of my projects. I like your thinking :)

The PO.DAAC webservices were overhauled a while back and exist as an OpenAPI manifest now. This would mean that
1. Although Podaacpy works fine as is, it is kinda outmoded/obselete, and
2. You could

[2021-10-13 05:28] lewismc commented on #160
If you wanted access to the OpenAPi specification you could ask on the [PO.DAAC Forum](https://podaac.jpl.nasa.gov/forum/).

[2021-10-13 12:06] sno2 commented on #160
Hi @lewismc , thanks for the reply.  That sounds great, I'll post a request for the spec at the forum.  Thanks